body {
  background: #faf8ef;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.topContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background: #e4d4c5;
  padding: 20px; 
  border-radius: 10px; 
  margin-bottom: 6px;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  color: #776e65;
  justify-self: center;
}

.score {
  text-align: center;
  font-size: 2.0em;
  font-weight: bold;
  color: #776e65;
  justify-self: start;
}

.button {
  justify-self: end;
  background-color: #8f7a66;
  color: #f8f5f0;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #776e65;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gameOverMessage, .gameWonMessage {
  background: rgba(235, 232, 229, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
  text-align: center;
  max-width: 90%;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);}

.gameOverActive .gameOverMessage, .gameWonActive .gameWonMessage {
  transform: translate(-50%, -50%) scale(1);
}


